@import "vue-select/src/scss/vue-select.scss";

@font-face {
  font-family: 'bignoodletitlingregular';
  src: url('big_noodle_titling-webfont.woff2') format('woff2'),
  url('big_noodle_titling-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100%;
}

.box {
  border: 1px solid $comunica-border;
  border-radius: 7px;
  padding: 7px;
}

.dropdown-layout {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-column-gap: 7px;
}

.input {
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 7px;
  line-height: 1.3;
  width: 100%;
  max-width: 100%;
  padding: .6em 1.4em .5em .6em;
  font-size: max(1vmin, 11pt);
}

.line {
  height: 2px;
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 5px;
  margin: 7px 7px;
}

.text-large {
  color: $comunica-red;
  font-size: max(3vmin, 15pt);
  font-weight: bold;
}

.text-medium {
  color: $comunica-red;
  font-size: max(2vmin, 13pt);
  font-weight: bold;
}

.text-small {
  font-size: max(1vmin, 11pt);
}