@import "vue-select/src/scss/vue-select.scss";

@font-face {
  font-family: 'bignoodletitlingregular';
  src: url('big_noodle_titling-webfont.woff2') format('woff2'),
  url('big_noodle_titling-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background: $comunica-red;
}

.box {
  background: $comunica-dark-red;
  border-radius: 7px;
  padding: 7px;
}

.dropdown-layout {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-column-gap: 7px;
}

.line {
  height: 2px;
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 5px;
  margin: 7px 7px;
}

.text-large {
  font-size: max(3vmin, 16pt);
  font-weight: bold;
}

.text-medium {
  font-size: max(2vmin, 13pt);
  font-weight: bold;
}

.text-small {
  font-size: max(1vmin, 11pt);
}