html {
  background: $comunica-red;
}

.box {
  background: $comunica-dark-red;
  border-radius: 7px;
  padding: 7px;
}

.dropdown-layout {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-column-gap: 7px;
}

.line {
  height: 2px;
  border: 1px solid lightgray;
  background-color: lightgray;
  border-radius: 5px;
  margin: 7px 7px;
}

.text-large {
  font-size: 5vmin;
  font-weight: bold;
}

.text-medium {
  font-size: 3vmin;
}

.text-small {
  font-size: 2vmin;
}

.text-tiny {
  font-size: 1vmin;
}