// Ref: https://github.com/nuxt-community/vuetify-module#customvariables


$comunica-red: #9C0510;
$comunica-red-light: #c20e1c;
$comunica-dark-red: #740008;


$comunica-border: gray;
$comunica-hover: lightgray;